<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Contact
                <strong>Vinod John</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-8">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2091.6414028180047!2d26.732079200000022!3d58.38258429999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eb36dd6b0fa101%3A0xd08f6364ad6b7586!2sRaatuse+22%2C+University+of+Tartu%2C+51009+Tartu!5e0!3m2!1sen!2see!4v1430956868804"></iframe>
        </div>
        <div class="col-md-4">
            <p>Phone:
                <strong>+372 56315069</strong>
            </p>
            <p>Email:
                <strong><a href="mailto:vinodjohn56@gmail.com">vinodjohn56@gmail.com</a></strong>
            </p>
            <p>Address:
                <strong>Raatuse 22-411,
                    <br>51009 Tartu, Estonia.</strong>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

