<div class="container">

	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<hr>
				<h2 class="intro-text text-center">
					<strong>Financial Report</strong>
				</h2>
				<hr>
			</div>
			<div class="col-md-12">
				<p style="text-align:center;">Select a company below to view recent financial report</p>
			</div>
			<div>
				<form class="form-group">
			  		<div class="col-xs-2" style="width:200px;text-align:center;margin:0px 0px 10px 450px;">
			  			<label for="companyName"><h4>Company Name</h4></label>	
			  			      <select class="form-control" ng-model="companyName">
			  			      	<option>All companies</option>
						        <option>SEB</option>
						        <option>Microsoft</option>
						        <option>Nortal</option>
								<option>Stockmann</option>
								<option>Transferwise</option>
						      </select> <br />
						 <button class="btn btn-md btn-warning" ng-click="execQuery()" style="text-align:center;">
							<strong>Show Report</strong>
						</button>
			  		</div><br />
				</form>
				<p/><br /> <br/><br/>
		 		<div ng-show="catalogShown"> 
		 			<div class="col-xs-2" style="width:200px;text-align:center;margin:0px 0px 10px 355px;">
						<button class="btn btn-lg btn-info" ng-click="showDoc(companyName)" style="text-align:center;" data-toggle="modal" data-target=".bs-example-modal-lg">
							<strong>Latest Financial Document of {{companyName}} </strong>
						</button>
							<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby={{companyName}} aria-hidden="true">
							  <div class="modal-dialog modal-lg">
							    <div class="modal-content">
							    <div class="modal-header">
							    <button type="button" class="close" data-dismiss="modal">&times;</button>
							    <h4><strong>Latest Financial Document of {{companyName}}</strong></h4>
							    </div>
							    
							    <div class="modal-body">					
 									<table class="table table-bordered table-hover" style="text-align:center;margin:0px auto;">
										<thead>
										<tr>
											<th style="text-align:center; font-weight:bold;"><h4>Document Id</h4></th>
											<th style="text-align:center; font-weight:bold;"><h4>Customer Id</h4></th>
											<th style="text-align:center; font-weight:bold;"><h4>Financial Date</h4></th>
											<th style="text-align:center; font-weight:bold;"><h4>Audit flag</h4></th>
											<th style="text-align:center; font-weight:bold;"><h4>Number of Months</h4></th>
											<th style="text-align:center; font-weight:bold;"><h4>Valid From</h4></th>
											<th style="text-align:center; font-weight:bold;"><h4>Valid To</h4></th>
						<!-- 					<th>Actions</th>  -->
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="docu in documents">
											<td>{{docu.doc.id}}</td>
											<td>{{docu.customer.id}}</td>
											<td>{{docu.financialDate}}</td>					
											<td>{{docu.flgAudit}}</td>
											<td>{{docu.noMonths}}</td>
											<td>{{docu.validFrom}}</td>
											<td>{{docu.validTo}}</td>
										</tr>
									</tbody>
								</table>
								</div>							     
							    </div>
							  </div>
							</div>
					</div>
					  <table class="table table-bordered table-hover" style="text-align:center;margin:0px auto;">
						<thead>
						<tr>
							<th style="text-align:center; font-weight:bold;"><h4>Company Name</h4></th>
							<th style="text-align:center; font-weight:bold;"><h4>Document Id</h4></th>
							<th style="text-align:center; font-weight:bold;"><h4>Customer Id</h4></th>
							<th style="text-align:center; font-weight:bold;"><h4>Financial Date</h4></th>
							<th style="text-align:center; font-weight:bold;"><h4>Audit flag</h4></th>
							<th style="text-align:center; font-weight:bold;"><h4>Number of Months</h4></th>
							<th style="text-align:center; font-weight:bold;"><h4>Valid From</h4></th>
							<th style="text-align:center; font-weight:bold;"><h4>Valid To</h4></th>
		<!-- 					<th>Actions</th>  -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="doc in docs">
							<td>{{doc.companyName}}</td>
							<td>{{doc.doc.id}}
								<br /><button id="action" class="btn btn-success btn-xs" ng-click="showme= !showme">
									<strong>Show Document</strong>
								</button>
									<div>
		 							 	<div ng-show="showme">
		 							 		<h5>Description:</h5> {{doc.doc.description}}
										</div>
								  	</div>					
							</td>
							<td>{{doc.customer.id}}
								<br /><button id="action" class="btn btn-success btn-xs" ng-click="viewme= !viewme">
									<strong>Show Customer</strong>
								</button>
									<div>
		 							 	<div ng-show="viewme">
		 							 		<h5>Name:</h5> {{doc.customer.name}}
		 							 		<h5>Address:</h5> {{doc.customer.address}}
										</div>
								  	</div>
							</td>
							<td>{{doc.financialDate}}</td>					
							<td>{{doc.flgAudit}}</td>
							<td>{{doc.noMonths}}</td>
							<td>{{doc.validFrom}}</td>
							<td>{{doc.validTo}}</td>
						</tr>
					</tbody>
				</table>
				</div> 				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
